/scoring.py
/submission_compression.py
/example_project/
/training/
/test/
/validation/
/.idea/.gitignore
/.idea/Exercise 5.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
